@using System.Web.Mvc.Html
@using KKU_DEMO.App_Start
@model IEnumerable <KKU_DEMO.Models.Sensor>

@{
    ViewBag.Title = "Home Page";

   

}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/InfoPopUp.js"></script>
    <script src="~/Scripts/SendReq.js"></script>
   

</head>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Информация о устройстве:</h2>
                
            </div>
            <div class="modal-body">
                <div id="Details">

                </div>
                <div id="DetailsSpiner"> <img id="pic" src="~/Content/Image/spinner.gif" width="100%" /></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
<h3>Текущие показания датчиков</h3>

<div id='table'></div>
<hr />

@*<div id="chartContainer" style="height: 300px; width: 50%;"></div>*@





<script>

    function show() {
        $.ajax({
            url: "@Strings.HostUrl/Sensor/Update",
            cache: false,
            success: function(html) {
                $("#table").html(html);
            }
        });
    }

    $(document).ready(function() {
        show();
        setInterval('show()', 3000);
    });
    </script>




